<% layout("/layouts/boilerplate") %>

<body>
    <h3>All Listings</h3>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
        <% for(let listing of allListings){ %>
        <div class="col">
            <a href="/listings/<%=listing.id %>" class="listing-link">
                <div class="card" >
                    <img 
                        src="<%= listing.image.url %>" 
                        class="card-img-top"
                        alt="Listing Image" 
                        style="height: 20rem; object-fit: cover;"
                    />
                    <div class="card-img-overlay">abcd</div>
                    <div class="card-body">
                        <h5 class="card-title"><%= listing.title %></h5>
                        <p class="card-text">
                            &#8377; <%= listing.price %> /night
                        </p>
                        <a href="/listings/<%= listing._id %>" class="btn btn-primary">View Listing</a>
                    </div>
                </div>
            </a>
        </div>
        <% } %>
    </div>
</body>


